<div class="card" id="theCard">
	
	<div class="col-xs-12 col-sm-4 pull-right" id="card_container_right">
		<div class="col-xs-6 col-sm-12 col-sm-offset-0 pull-right">
			<img src="/resources/img/frimerke.png" style="max-width: 100%;" />
		</div>
		
		<div id="card_container_meta">
			<div id="card_container_meta_to"><label>til</label> {{recipient}}</div>
			<div id="card_container_meta_from"><label>fra</label> {{sender}}</div>
		</div>
		
	</div>	
	
	<div id="card_container_message" class="col-xs-12 col-sm-8">
		<h1>Hei {{recipient}}!</h1>
		<p class="lead">
			{% embed "card.oppfordre.twig.html" with {'sender': 'Jeg', 'recipient': 'deg'} %}{% endembed %}
		</p>
		{% if mailmode is defined and message is empty %}
			<p>UKM er et nettverk av små lokale festivaler hvor ungdom kan...</p> 
		{% elseif message is empty %}
			<p>
				UKM er et nettverk av små lokale festivaler hvor ungdom kan delta med alle slags kulturuttrykk.
				UKM er ingen konkurranse, og de aller fleste kommuner i landet arrangerer en lokalmønstring. 
			</p>
			<p>Du bør sjekke det ut!</p>
		{% else %}
			<p>{{message}}</p>
		{% endif %}
		<p>Hilsen {{sender_firstname}}</p>
		
		{% if mailmode is defined %}
			<p><a href="{{canonical}}">Klikk her for å se kortet mitt eller starte påmelding</a></p>
		{% endif %}
		<p>
	</div>
</div>