<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>{% block title %}Unn noen en UKM-opplevelse!{% endblock %}</title>
		{% block opengraph %}{% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="" />
		<meta name="author" content="UKM.no" />

		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
		
		<link rel="stylesheet" href="/resources/unn.css">
		<link rel="canonical" href="" />

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script src="/resources/unn.js"></script>
		<script src="/resources/jqBootstrapValidation.js"></script>
		<script src="/resources/handlebars.js"></script>
		<script>{% block script %}{% endblock %}</script>
	</head>
	
	<body>
		<div id="cloudcontainer">
			<div id="safarikjeks" style="display:none;">
				{% include "cookies.twig.html" %}
			</div>
			<div id="container_logo">
				<img src="/resources/img/logo.png" id="unn_logo" />
			</div>
			<div class="container" id="guicontainer">
				<div class="col-xs-12 col-md-8 col-md-offset-2" id="container_header">
					<div id="container_header_inner">
						{% block content_header %}{% endblock %}
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12 col-md-8 col-md-offset-2" id="container_content">
					<div id="container_content_inner">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
		<div id="container_footer">
			<div class="container" id="container_footer_inner">
				{% block content_footer %}{% endblock %}
			</div>
		</div>
		<div id="mariekjeks">
			<img src="/resources/img/info.png">
			<a href="#safarikjeks" id="cookies_toggle" data-action="show" data-toggle="#safarikjeks">Cookies</a>
		</div>
	</body>
</html>