{% extends "layout.twig.html" %}

{% block title %}
	{{card.recipient}} bør delta på UKM!
{% endblock %}

{% block opengraph %}
	<link rel="canonical" href="{{card.canonical}}" />
	<meta property="og:title" content="{{card.recipient}} bør delta på UKM!"/>
	<meta property="og:description" content="{% embed "card.oppfordre.twig.html" with {'sender': card.sender, 'category': card.category, 'recipient': card.recipient} %}{% endembed %}"/>
	<meta property="og:type" content="article" />
	<meta property="og:image" content="{{url.base}}resources/img/frimerke_large.jpg" />
	<meta property="og:url" content="{{card.canonical}}" />
	<meta property="og:site_name" content="UNN NOEN UKM" />
	<meta property="fb:admins" content="597605662" />
{% endblock %}

{% block content_header %}
	<style>#container_header { display: none; }</style>
{% endblock %}

{% block content %}
	{% embed "card.twig.html" with card %}{% endembed %}
	<div class="clearfix"></div>
{% endblock %}


{% block content_footer %}	
	{% embed "infofooter.twig.html" %}{% endembed %}
{% endblock %}