{% extends "layout.twig.html" %}

{% block title %}
 burde delta på UKM!
{% endblock %}

{% block content_header %}
<div id="content_header_spacer"></div>
{% endblock %}

{% block content %}
	{% embed "card.twig.html" with card %}{% endembed %}
{% endblock %}


{% block content_footer %}	
	<div class="col-xs-12 col-md-6 pull-left">
		<div class="header">
			<h2>Hva er UKM?</h2>
		</div>
		<p>In sit amet dictum nisl, at sollicitudin felis. Ut volutpat enim sed lorem porttitor fermentum. Cras gravida, purus a ullamcorper mattis, dolor eros vehicula turpis, vel malesuada justo</p>
		<a href="http://ukm.no" class="btn btn-mini btn-primary">Les mer</a>
	</div>

	<div class="col-xs-12 col-md-6 pull-left">
		<div class="header">
			<h2>Jeg vil delta!</h2>
		</div>
		<p>In sit amet dictum nisl, at sollicitudin felis. Ut volutpat enim sed lorem porttitor fermentum. Cras gravida, purus a ullamcorper mattis, dolor eros vehicula turpis, vel malesuada justo</p>
		<a href="http://pamelding.ukm.no" class="btn btn-mini btn-primary">Start påmelding!</a>
	</div>

	<div class="col-xs-12 col-md-6 pull-left">
		<div class="header">
			<h2>Jeg kjenner også noen som burde delta!</h2>
		</div>
		<p>Quisque ut lorem eu dui adipiscing dapibus. Etiam sed magna ut nulla adipiscing mollis eu quis elit. Aenean rutrum enim velit, at iaculis risus egestas ac. Praesent purus dui, consectetur sit amet pellentesque eget, rhoncus non metus. Phasellus cursus diam quis felis volutpat bibendum.</p>
		<a href="{{url.base}}" class="btn btn-mini btn-primary">Inviter noen til UKM!</a>
	</div>
{% endblock %}